---
layout: default
---

<div class="row-fliud">
    <h2>Selected Work</h2>
    <p>Browse some of my professional, scholastic, and personal work.</p>
</div><!-- intro -->

<div id="selected-work" class="row-fluid">
  <!-- List of projects goes here -->

  <div class="hidden-phone">
    <div class="row-fluid">
      {% for post in site.posts limit:2 offset: 0 %}
      <div class="span6">
          <a href="{{ post.url }}"><img src="{{ post.thumbnail }}"></a>
          <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
          <p>{{ post.slug }}</p>
        </div>
      {% endfor %}
    </div>

    <div class="row-fluid">
      {% for post in site.posts limit:2 offset: 2 %}
      <div class="span6">
        <a href="{{ post.url }}"><img src="{{ post.thumbnail }}"></a>
        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
        <p>{{ post.slug }}</p>
        </div>
      {% endfor %}
    </div>

    <div class="row-fluid">
      {% for post in site.posts limit:2 offset: 4 %}
        <div class="span6">
          <a href="{{ post.url }}"><img src="{{ post.thumbnail }}"></a>
          <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
          <p>{{ post.slug }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="visible-phone">
    {% for post in site.posts %}
      <div class="row-fluid">
        <a href="{{ post.url }}"><img src="{{ post.thumbnail }}"></a>
        <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
        <p>{{ post.slug }}</p>
      </div>
    {% endfor %}
  </div>

</div>
