// Begin main.scss

/* ----------------------- Variables ----------------------- */

$body-font: "pt-sans-1","pt-sans-2";
$header-font: "adelle-1","adelle-2";

//$link-color: #CB4B16;
$orange:       #F39C12;
$mid-orange:   lighten($orange, 40%);
$light-orange: lighten($orange, 51%);

$white-color: #FFFFFF;
$light-gray-color: #F5F5F5;
$mid-gray-color: #999999;
$dark-gray-color: #666666;

// TODO remove these
$lg-width: 69.652174%; /* 700px / 1170px */
$md-width: 77.652174%;
$sm-width: 90.4696133%; /* 655px / 724px */


/* ----------------------- Styles ----------------------- */

body {
  font-family: "pt-sans-1", "pt-sans-2";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "adelle-1", "adelle-2";
}

a {
  color: $orange;
}

a:hover {
  color: $orange;
}

::-moz-selection {
  background-color: $orange;
  color: $white-color;
}

::selection {
  background-color: $orange;
  color: $white-color;
}

li, p {
  font-size: 1.14285714285714em;
  /* 16px / 14px */
  line-height: 1.42857142857143em;
  /* 20px / 14px */
}

ul, p {
  margin-bottom: 1.875em;
  /* 30px / 16px */
}




/* ----------------------- Home Page ----------------------- */

.jumbotron {
  background-color: transparent;
}

canvas {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: -10;
}

hr {
  border-top: 3px solid $orange;
}

.row h1 {
  text-transform: uppercase;
  font-size: 1.5em; /* rather arbitrary :( */
  margin-bottom: 4.1237113%; /* 40 / 970 */
}

.work-grid {
  padding-bottom: 3.0927835%; /* 30 / 970 */
}

.work-grid>div{
  padding: 4.1237113%; /* 40 / 970 */
  background-color: $light-gray-color;
}



/* ----------------------- Navbar ----------------------- */

.navbar, .navbar > .container {
  min-height: 80px;
}

nav.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.nav {
  margin-top: 14px;
}

.navbar-brand {
  top: -10px;
}

.navbar-brand img {
  width: 44px;
}

.navbar-default .navbar-nav>li>a {
  color: $mid-gray-color;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: $orange;
}

#tail > a {
  padding-left: 0;
}
#tail > a > span {
  padding-right: 10px;
}

// Seems hacky. Needed to vertically align
// Pager links in header for works at
// the beginning or end of the list.
li.previous, li.next {
  margin-top: 11px;
}



/* ----------------------- Work Page ----------------------- */


.post {
  margin-top: 18.0851064%;
  /* 170 / 940 */
}

.post h1 {
  font-size: 3.75em;
  /* 60px / 16px */
  line-height: 0.975609756em;
  /* (82 / 40) * 2 */
  margin-bottom: 3.1914894%;
  /* 30 / 940 */
}

.post h5 {
  font-family: "pt-sans-1", "pt-sans-2";
  text-transform: uppercase;
  color: $mid-gray-color;
}

.post > p:first-of-type {
  margin-top: 2.1276596em;
  /* 20px / 940px */
  margin-bottom: 4.2553191em;
  /* 40px / 940px */
  font-weight: normal;
  font-size: 1.75em;
  /* 28px / 16px */
  line-height: 1.75em;
  /* 30px / 21px */
}

img {
  display: block;
  margin: 0 auto;
}

.pager li > a, .pager li > span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.pager li > a:hover {
  background-color: $light-gray-color;
}
