body {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 100%;
/*  background-color: #f0e8e6;*/
}

/* Large desktop and up */
@media (min-width: 1200px) {
  body {
    font-size: 140%;
  }
  .resume p, .resume li, .resume dt, .resume dd, .resume h4, .resume h5, .resume h6 {
    font-size: 80%;
  }
  #content {
    margin-right: auto;
    margin-left: auto;
    max-width: 62.5%; /* 700px / 1170px */
  }
  .masthead, .container > hr, .footer {
    margin-right: auto;
    margin-left: auto;
    max-width: 69.652174%;
  }
}

/* Default desktop */
@media (min-width: 980px) and (max-width: 1199px) {
  body {
    font-size: 130%;
  }
  .resume p, .resume li, .resume dt, .resume dd, .resume h4, .resume h5, .resume h6 {
    font-size: 80%;
  }
  #content {
    margin-right: auto;
    margin-left: auto;
    max-width: 70.6521739%; /* 650px / 920px */
  }
  .masthead, .container > hr, .footer {
    margin-right: auto;
    margin-left: auto;
    max-width: 77.652174%;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    font-size: 115%;
  }
  .resume p, .resume li, .resume dt, .resume dd, .resume h4, .resume h5, .resume h6 {
    font-size: 80%;
  }
  #content {
    margin-right: auto;
    margin-left: auto;
    max-width: 90.4696133%; /* 655px / 724px */
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #content, .masthead, .container > hr, .footer {
    margin-right: auto;
    margin-left: auto;
    max-width: 90.4696133%; /* 655px / 724px */
  }
}

/* Landscape phones and down */
/*@media (max-width: 480px) { ... }*/


/* Typography */

h1, .hero-unit h1 {
  font-size: 3.75em; /* 60px / 16px */
}
h2 {
  font-size: 2em; /* 32px / 16px */
}
h2 {
  font-size: 2em; /* 32px / 16px */
}
h4 {
  font-size: 1.125em; /* 18px / 16px */
}
h5 {
  font-size: 0.875em; /* 14px / 16px */
}
h6 {
  font-size: 0.74375em; /* 11.9px / 16px */
}

.resume h4 {
  text-transform: uppercase;
  font-size: 0.75em; /* 13px / 16px */
  color: rgb(124, 124, 124);
  margin-bottom: 1.5em;
}
.resume h5 {
  margin-bottom: 0;
}
.resume h6 {
  margin-top: 0;
  font-size: 0.6875em; /* 11px / 16px */
}
.resume p, .resume li, .resume dt, .resume dd {
  line-height: 1.1875em; /* 19px / 16px */
}

li, p {
  font-size: 1em; /* 16px / 16px */
  line-height: 1.5625em; /* 25px / 16px */
}

p {
  margin-bottom: 1.875em; /* 30px / 16px */
}

dt, dd, li {
  font-size: 0.8em; /* 16px / 16px */
  line-height: 1.5625em; /* 25px / 16px */
}

.footer p {
  font-size: 16px;
}

/* ----------------------- Style Overrides ----------------------- */

a {
  color: #cb4b16;
}

a:hover {
  color: #cb4b16;
  text-decoration: none;
}

::-moz-selection {
  background-color: #cb4b16;
  color: #FFFFFF;
}

::selection {
  background-color: #cb4b16;
  color: #FFFFFF;
}

dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}

.post > p:first-of-type {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 1.3125em; /* 21px / 16px */
  line-height: 1.428571429em;  /* 30px / 21px */
}

.job-location {
  color: #666;
  font-weight: normal;
}


/* ----------------------- Post-specific stuff ----------------------- */


#content h1.page-header {
  margin-top: 30px;
  border: none;
  line-height: 0.975609756em; /* (82 / 40) * 2 */
}
.postdate {
  font-style: italic;
  color: #999;
}
#content > p > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pager li > a, .pager li > span {
  background-color: #f5f5f5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pager li > a:hover {
  background-color: #fff;
}