---
---

/* ----------------------- Variables ----------------------- */

$body-font: "pt-sans-1","pt-sans-2";
$header-font: "adelle-1","adelle-2";

//$link-color: #CB4B16;
$orange:       adjust-hue(#F4B400, -12deg);
$mid-orange:   lighten($orange, 40%);
$light-orange: lighten($orange, 51%);

$white-color: #FFFFFF;
$light-gray-color: #F5F5F5;
$mid-gray-color: #999999;
$dark-gray-color: #666666;

$lg-width: 69.652174%; /* 700px / 1170px */
$md-width: 77.652174%;
$sm-width: 90.4696133%; /* 655px / 724px */


/* ----------------------- Scale and Responsive ----------------------- */

body {
  //  padding-top to accomodate fixed header
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 170%;
}

ul.nav-pills, #content, hr, .footer {
  margin-right: auto;
  margin-left: auto;
}

/* Large desktop and up */
//
//
@media (min-width: 1200px) {
  ul.nav-pills, .jumbotron .container, #content, hr, .footer {
    width: $lg-width;
  }
}

/* Default desktop */
//
//
@media (min-width: 980px) and (max-width: 1199px) {
  body {
    font-size: 160%;
  }
  ul.nav-pills, .jumbotron .container, #content, hr, .footer {
    width: $md-width;
  }
}

/* Portrait tablet to landscape and desktop */
//
//
@media (min-width: 768px) and (max-width: 979px) {
  body {
    font-size: 150%;
  }
  ul.nav-pills, .jumbotron .container, #content, hr, .footer {
    width: $sm-width;
  }
}

/* Landscape phone to portrait tablet */
//
//
@media (max-width: 767px) {
  body {
    font-size: 150%;
  }
  ul.nav-pills, .jumbotron .container, #content, hr, .footer {
    width: $sm-width;
  }
}


/* ----------------------- Typography ----------------------- */

body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

h1, .hero-unit h1 {
  font-size: 3.75em;
  /* 60px / 16px */
}
h2 {
  font-size: 2em;
  /* 32px / 16px */
}
h2 {
  font-size: 2em;
  /* 32px / 16px */
}
h4 {
  font-size: 1.125em;
  /* 18px / 16px */
}
h5 {
  font-size: 1em;
  /* 14px / 14px */
}
h6 {
  font-size: 0.875em;
  /* 14px / 16px */
}

li, p {
  font-size: 1.14285714285714em;
  /* 16px / 14px */
  line-height: 1.42857142857143em;
  /* 20px / 14px */
}

ul, p {
  margin-bottom: 1.875em;
  /* 30px / 16px */
}

dt, dd, li {
  line-height: 1.5625em;
  /* 25px / 16px */
}

.footer p {
  font-size: 0.85714285714286em;
  /* 12px / 14px */
}

/* ----------------------- Style Overrides ----------------------- */

a {
  color: $orange;
}

a:hover {
  color: $orange;
  text-decoration: none;
}

::-moz-selection {
  background-color: $orange;
  color: $white-color;
}

::selection {
  background-color: $orange;
  color: $white-color;
}

dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}

.post > p:first-of-type {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 1.3125em;
  /* 21px / 16px */
  line-height: 1.428571429em;
  /* 30px / 21px */
}


/* ----------------------- Navbar ----------------------- */

#navigation {
  background-color: $mid-orange;
}

.nav-pills > li > a {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: $light-orange;
}


/* ----------------------- Jumbotron ----------------------- */

.jumbotron .container {
  padding: 0px;
}

.jumbotron {
  background-color: $light-orange;
}


/* ----------------------- Images and Video ----------------------- */

// These make the images responsive
img {
  max-width: 100%;
  height: auto;
  border: 1px solid $mid-gray-color;
}

// Vimeo-specific
.video-container {
  position: relative;
  margin-bottom: 1.875em;
  /* 30px / 16px */
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

// Vimeo-specific
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* ----------------------- Resume-specific stuff ----------------------- */

.resume h4 {
  text-transform: uppercase;
  color: $mid-gray-color;
  margin-top: 1.71428571428571em;
  margin-bottom: 1.14285714285714em;
  /* 16px / 14px */
}
.resume h5 {
  margin-bottom: 0;
  font-family: $body-font;
  font-weight: 700;
  // match the font-weight Bootstrap gives to <dd>s
}
.resume h6 {
  margin-top: 0.28571428571429em;
}
.resume p, .resume li, .resume dt, .resume dd {
  font-size: 1em;
  /* 14px / 14px */
  line-height: 1.1875em;
  /* 19px / 16px */
}
.resume ul {
  padding-left: 20px;
}

.job-date {
  color: $dark-gray-color;
  font-weight: normal;
}


/* ----------------------- Post-specific stuff ----------------------- */


#content h1.page-header {
  margin-top: 30px;
  border: none;
  line-height: 0.975609756em;
  /* (82 / 40) * 2 */
}
.postdate {
  color: $mid-gray-color;
}
#content > p > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pager li > a, .pager li > span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pager li > a:hover {
  background-color: $light-gray-color;
}

/* ----------------------- Work-specific stuff ----------------------- */

.post-group {
  margin-bottom: 1.5em;
}
