body {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 100%;
}

/* Portrait tablet to landscape and above */
@media (min-width: 768px) {
  body {
    font-size: 125%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) {

}


/* Typography */

h1, .hero-unit h1 {
  font-size: 3.75em; /* 60px / 16px */
}
h2 {
  font-size: 2em; /* 32px / 16px */
}
h2 {
  font-size: 2em; /* 32px / 16px */
}
h4 {
  font-size: 1.125em; /* 18px / 16px */
}
h5 {
  font-size: 0.875em; /* 14px / 16px */
}
li, p {
  font-size: 1em; /* 16px / 16px */
  line-height: 1.5625em; /* 25px / 16px */
}
p {
  margin-bottom: 1.875em; /* 30px / 16px */
}

/* Custom container */

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Supporting marketing content */

.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Index page */

#hello {
  margin-top: 10em;
  margin-bottom: 4em;
  padding: 2em;
  background-color: #999;
}

/* Post-specific stuff */

.postdate {
  font-style: italic;
  color: #999;
}

/* Make the first paragraph stand out a bit.
   Ripped out of bootstrap.css:654 */
#content p:first-of-type {
  margin-bottom: 20px;
  font-size: 1.3125em; /* 21px / 16px */
/*  font-weight: 200;*/
  line-height: 30px;
}
