---
layout: default
---

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container post">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="/"><img src="../assets/img/jf-01.svg"></a></li>
      {% if page.title %}
        <li id="tail" class="hideable hidden-xs"><a href="#"><span>&rsaquo;</span>{{ page.title }}</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
    
<div class="container post post-content">
  <h1>{{ page.title }}</h1>
  <h5>{{ page.date | date: "%B %Y" }}</h5>

  {{ content }}
</div>

<div class="container post">
  <ul class="pager">
    {% if page.previous %}
      <li class="previous">
        <a href="{{ page.previous.url }}"><span aria-hidden="true">&larr;</span>{{ page.previous.title }}</a>
      </li>
    {% endif %}
    {% if page.next %}
      <li class="next">
        <a href="{{ page.next.url }}">{{ page.next.title }}<span aria-hidden="true">&rarr;</span></a>
      </li>
    {% endif %}
  </ul>
</div>

{% javascript_asset_tag site %}
- /_assets/javascript/jquery.min.js
- /_assets/javascript/post.js
{% endjavascript_asset_tag %}
