---
layout: default
---

<div class="container">
  <a href="/">Back</a>
  <h1 class="page-header">{{ page.title }}</h2>
  <h5 class="postdate">{{ page.date | date: "%B %Y" }}</h5>

  {{ content }}

  <ul class="pager">
    {% if page.previous %}
      <li class="previous">
        <a href="{{ page.previous.url }}"><span aria-hidden="true">&larr;</span>{{ page.previous.title }}</a>
      </li>
    {% endif %}
    {% if page.next %}
      <li class="next">
        <a href="{{ page.next.url }}">{{ page.next.title }}<span aria-hidden="true">&rarr;</span></a>
      </li>
    {% endif %}
  </ul>
</div>
