---
layout: default
---

<h1 class="page-header">{{ page.title }}</h2>

<h5 class="postdate">{{ page.date | date: "%B %Y" }}</h5>

<div id="content">
  {{ content }}
</div>

<ul class="pager visible-phone">
  {% if page.previous %}
    <li><a rel="prev" href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a></li>
  {% endif %}
  {% if page.next %}
    <li><a rel="next" href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a></li>
  {% endif %}
</ul>

<ul class="pager hidden-phone">
  {% if page.previous %}
    <li class="previous">
      <a rel="prev" href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    </li>
  {% endif %}
  {% if page.next %}
    <li class="next">
      <a rel="next" href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
    </li>
  {% endif %}
</ul>
